/* # = id*/
/* . = class */

body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; */
  min-height: 100vh;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;

  transition: background-color 0.2s;
}



a {
  /* color: #212529 !important; */
  /* text-decoration-color: #212529 !important; */
}